* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #533d86;
  --secondary: #f5f5ec;
  --gray: #c4c4c4;
  --beige: #e9e9e1;
  --blue: #3c3a8c;
  --green: #4d9f4c;
  --lemon: #b6dc5c;
  --red: #f41111;
  --purple: #864798;
  --background: #f5f5ec;
}

body,
html {
  width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--background);
}

main {
  width: 1200px;
  margin: 0 auto;
}

.nav-container {
  background: var(--primary);
  height: 100px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  color: var(--secondary);
  font-weight: 300;
}

.nav-menu a {
  color: var(--secondary);
}

.nav-menu a:hover {
  color: var(--gray);
}

.nav-menu a:active {
  color: var(--gray);
}

.logo a {
  font-size: 2rem;
  color: var(--secondary);
}

.main-image__destaque {
  width: 100%;
}

.submenu {
  height: 40px;
  padding: 10px;
  background: var(--beige);
  border: 1px solid black;
  margin-bottom: 40px;
}

.submenu__ul li {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.submenu__ul li:nth-child(7) {
  color: var(--purple);
}

.display-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.display-principal__imagem {
  width: 400px;
  height: 250px;
}

.display-secundario__imagem {
  width: 115px;
  height: 163px;
}

.menu-consoles {
  margin: 20px;
}

.console-box {
  width: 200px;
  height: 40px;
  padding-top: 15px;
  text-align: center;
  color: var(--secondary);
  cursor: pointer;
}

.menu-consoles__ul li:nth-child(1) {
  background: var(--blue);
}

.menu-consoles__ul li:nth-child(2) {
  background: var(--green);
}

.menu-consoles__ul li:nth-child(3) {
  background: var(--red);
}

.menu-consoles__ul li:nth-child(4) {
  background: var(--purple);
}

.produto-item {
  width: 390px;
  padding: 10px;
}

.produto-descricao {
  margin-top: 10px;
  font-weight: 300;
}

.produto-price {
  margin-top: 6px;
  font-weight: bold;
  color: var(--purple);
}

.btn-comprar {
  margin-top: 6px;
  background-color: var(--lemon);
  color: var(--primary);
  box-shaddow: 0 5px 15px rgba(0, 0, 0, 0.1), 6px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: #bfef4e;
}

.btn-comprar:active {
  transform: scale(0.98);
}

.display-principal__imagem {
  width: 100%;
}

section.more-products {
  margin-bottom: 60px;
}

.intertitle-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.intertitle {
  font-size: 2rem;
}
hr.divider {
  width: 1200px;
  border-top: 1px solid var(--purple);
  margin-top: 15px;
  margin-bottom: 50px;
}
.display-secundario {
  width: 280px;
  margin-bottom: 30px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media ul li {
  padding-right: 10px;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 0.33333fr; /* 0.333 = 1/3 */
}

.footer {
  background: var(--primary);
  color: var(--gray);
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center {
  width: 1200px;
  margin: 0 auto;
}
