html {
  font-family: 'Josefin Sans', sans-serif;
}

.main-image__destaque {
  width: 100%;
}

.nav-menu {
  background: #533d86;
  height: 80px;
}
.nav-menu__ul li {
  padding: 7px;
  color: #f5f5ec;
}

.display-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.list-none {
  list-style: none;
}

.display-principal__imagem {
  width: 400px;
  height: 250px;
}

.display-secundario__imagem {
  width: 115px;
  height: 163px;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 0.33333fr; /* 0.333 = 1/3 */
}

.social-midia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-midia ul li {
  padding-right: 10px;
}

.footer {
  background: #533d86;
  color: #f5f5ec;
}
